<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:dubb="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
 http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--服务名称-->
    <dubbo:application name="tms-system-provider"/>
    <!--dubbo端口和协议-->
    <dubbo:protocol host="127.0.0.1" name="dubbo" port="20880"/>
    <!--注册中心-->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>

    <dubbo:service interface="com.kaishengit.tms.system.service.AccountService" ref="accountServiceImpl"/>
    <dubbo:service interface="com.kaishengit.tms.system.service.ScenicService" ref="scenicServiceImpl"/>
    <!--<dubbo:annotation package="com.kaishengit.tms.system.service.impl.AccountServiceImpl"/>-->
</beans>